.container {
    display: flex;
    overflow: auto;
    height: 100%;
    scroll-behavior: smooth;
}
.sidebar {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px 20px;
    margin-right: 32px;
}
.content {
    flex: 1;
    padding: 0 8px;
    max-width: 800px;
    margin: 0 auto 0 0;
    box-sizing: border-box;
}
h2 {
    margin: 40px 0 12px;
    font-size: 1.5rem;
}
h3 {
    font-size: 1rem;
}